.mail-nav {
    background-color: #f6f8fc;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-item {
    background-color: aliceblue;
    flex: grow;
}

.menu-item.active {
    background-color: #d3e3fd;
}

.menu-item:hover {
    background-color: #dddddd;
}