.mail-preview {
    background-color: #ffffff;
    height: 35px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 18fr 18fr 18fr 1fr 1fr;
    align-items: center;
    /* padding: 16px; */
    border-bottom: 1px solid rgb(213, 190, 190);
}

.mail-preview:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459);
}

.mail-preview td {
    min-width: 6;
}

.mail-preview.read td {
    background-color: #f2f6fc;
    font-weight: lighter;
}

.mail-preview.read {
    background-color: #f2f6fc;
}

.checked {
    background-color: #c2dbff;
}

table {
    width: 80%;
    cursor: pointer;
}

.fa.fa-star {
    color: #f7cb4d;
    /* background-color: red; */
}

.fa.fa-star :hover {
    color: #1a1812;
    /* background-color: red; */
}

.fa :hover {
    color: #f7cb4d;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
}