/* helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.icon {
    border-radius: 50%;
    padding: 6px;
}

.icon:hover {
    background-color: gray;
}

/* fonts */

@font-face {
    font-family: Roboto;
    src: url(../../../../fonts/Roboto-Black.ttf);
}