.app-header{
    background-color: whitesmoke ;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    top: 0;
    width: 100%;
    left: 0;
    padding: 0.7rem;
    border-bottom: 0.1rem solid #e8e8e8f3;
    margin-bottom: 1.2rem;
    position: relative;
}

.header-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
}


.logo-wrapper {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 0;
}
.a-1, .u{
    color: #4285F4;
}
.p-1, .s-2{
    color: #0F9D58;
}
.p-2{
    color: #DB4437;
}
.s-1{
    color: #F4B400;
}

.navbar-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 0.4rem;
}

.navbar-wrapper > * {
    font-size: 20px;
    cursor: pointer;
}

.navbar-wrapper > *:first-child {
    color: var(--green);
    border: none;
    background-color: transparent;
    margin-top: 0.2rem;
}

.navbar-wrapper > *:first-child:hover {
    color: var(--black);

}

.navbar-wrapper > *:first-child:focus {
    outline: none;
}

.navbar-wrapper > *:last-child {
    margin-left: 0.9rem;
    color: var(--blue);
}

.hide-modal {
    display: none;
}

.show-modal {
    display: block;
    position: absolute;
    bottom: -3.5rem;
    right: 3rem;
    z-index: 999;
}

.fa-user{
    font-size: 0.90rem;
}
.fa-user:hover{
    color: var(--black);

}

@media only screen and (min-width: 760px) {
    .logo-wrapper{
        font-size: 1.8rem;
    }
    .app-header{
        margin-bottom: 1.2rem;
        padding: 1.2rem;
    }
}