.mail-index {
    width: 100%;
}

.cmps-container {
    display: flex;
    flex-direction: row;
}

.nav-container {
    height: 90vh;
    width: 14vw;
}

.mail-list-container {
    z-index: 0;
    width: 100%;
}

.mail-compose-container {
    position: fixed;
    bottom: 0;
    right: 15vw;
    z-index: 1;
    height: 450px;
    width: 450px;
    background-color: inherit;
}

.hidden {
    display: none;
}

.filter-container {
    display: none;
}

.mail-nav-button {
    display: none;
}

.tr-head {
    display: none;
}


@media (max-width: 400px) {

    * {
        font-size: 15px;
    }

    /* .app-header {
        display: none;
    } */

    .mail-index {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mail-filter-form {
        display: block;
    }

    .nav-container {
        display: none;
    }

    /* filter  */
    .filter-container {
        display: block;
        width: 100vw;

    }

    .mail-filter {
        width: 100%;
        background-color: aquamarine;
        display: none;
    }




    /* table  */
    td.envelope,
    td.check-box {
        display: none;
    }

    .mail-preview:hover td:last-child,
    .mail-preview:hover td:nth-last-child(2) {
        display: none;
    }

    .mail-preview:hover {
        box-shadow: none;

    }

    .mail-preview:hover .date,
    .mail-preview:hover .last-td,
    td.sender-img {
        display: block;
    }

    .mail-preview {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 70px;
    }

    .date {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }

    .subject {
        grid-column: 2;
        grid-row: 2;
    }

    .sender {
        grid-column: 2;
        grid-row: 1;
        text-align: right;
    }

    .sender-img {
        grid-column: 3;
        grid-row: 1 / span 2;
        align-self: center;
        justify-self: center;
    }

    .preview {
        grid-column: 2;
        grid-row: 2;
    }

    th:not(.mail-nav-phone) {
        display: none;
    }

    /* //////////////////////////////////// the nav bar  */
    th.mail-nav-phone {
        display: block;
    }

    .mail-nav-phone.open {
        display: block;
    }

    .mail-nav-phone.close {
        display: none;
    }

    .tr-head {
        display: block;
    }

    .close-nav-btn {
        display: block;

    }

    /* details */
    div.mail-details {

        height: 80vh;
        width: 90vw;
        right: 10vw;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 1px solid rgb(197, 193, 193);
        background-color: rgba(234, 229, 238, 0.171);
    }

    nav span.back-btn {
        display: block;
    }

    .sibe-bar {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        height: 100vh;
        background-color: #f6f8fc;
        border-inline-start: 1px solid #ccc;
        min-width: 200px;
        /* transform: translateX(-100%); */
        transition: transform .6s, box-shadow .6s;
    }


    /* composer */

    .mail-compose-container {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1;
        right: 3vw;
        height: 100vh;
        width: 99vw;
        background-color: inherit;
    }

    textarea.compose-text {
        height: 72vh;
    }

    .mail-nav-button {
        display: block !important;
        margin-left: 15px;
    }

    .nav-bar-phone-btns {
        display: flex;
        text-align: center;
        align-items: center;
    }

    .close-nav-btn {
        padding-left: 30px;
    }

}