.mail-details {
    width: 84vw;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(197, 193, 193);
    background-color: rgba(234, 229, 238, 0.171);
}

.mail-details>* {
    background-color: #6767670d;
    border-right: 1px solid rgb(197, 193, 193);
    border-left: 1px solid rgb(197, 193, 193);
    ;
}

.cmps-container {
    display: flex;
    flex-direction: row;
}

.nav-container {
    height: 90vh;
    width: 15vw;
}

.details-header-container {
    display: flex;
    flex-direction: column;
}

.details-header-container nav {
    border-top: 1px solid rgb(197, 193, 193);
    ;
    display: flex;
    align-content: flex-end;
}

.details-header-container nav>* {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 15px;
    color: #444444;
    border-radius: 50%;
}

.details-header-container nav>*:hover {
    background-color: rgba(128, 128, 128, 0.151);
}

.details-header-container>h1 {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 15px;
    color: #444444;
    border-radius: 50%;
}

.fa-user-circle {
    font-size: 35px;
    color: #006affc0
}

.detail-body {
    padding-top: 45px;
    flex-grow: 1;
    background-color: #4444440d;
    border-bottom: 1px solid rgb(197, 193, 193);
    ;
}

span.back-btn {
    display: none;
}