/* base */

@import "./base/layout.css";

/* cmps:  */

@import "./cmps/mail-preview.css";
@import "./cmps/mail-list.css";
@import "./cmps/mail-nav.css";
@import "./cmps/mail-filter.css";
@import "./cmps/user-msg.css";

/* views */
@import './views/mail-index.css';
@import './views/mail-details.css';
@import './views/mail-compose.css';



/* rearange later */
.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}