* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.note-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    height: max-content;
}

.note-btn{
    margin-top: 20px;
}

img {
    width: 50%;
    object-fit: cover;
}

.app {
    padding: 0 10px;
}