* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.gallery-item {
    height: max-content;
    border-radius: 1rem;
    border: 0.15rem solid #e8e8e8f3;
}

.note-btn {
    margin-top: 20px;
}

/* 
img {
    width: 50%;
    object-fit: cover;
}