.gallery-item li {
    margin-bottom: 0.1rem;
    font-family: cursive;
    width: fit-content;
    font-size: 1rem;
    cursor: text;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note-preview h1 {
    font-size: 1rem;
    margin-bottom: 6px;
}

.note-btn button {
    background-color: inherit;
    border: none;
    size: 40px;
    cursor: pointer;
}

.btn-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}