.note-list a {
    box-sizing: border-box;
    display: flex;
    margin: 0rem;
    flex-direction: column;
    min-height: 6rem;
    max-height: 14rem;
    width: 100%;
    height: 15rem;
    align-content: center;
    padding: 0;
    animation: fade-in 1s;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    cursor: default;
    text-align: center;
    padding-bottom: 0.4rem;
}

.note-preview h2,
.note-preview h3 {
    padding: 0.3rem;
}

.note-preview h1 {
    font-size: 1rem;
}

.note-preview h2 {
    font-size: 1.2rem;
}

.note-preview h3 {
    font-size: 0.8rem;
    font-weight: normal;
}


.gallery-item li {
    margin-bottom: 0.1rem;
    font-family: cursive;
    width: fit-content;
    font-size: 1rem;
    cursor: text;
    margin-bottom: 10px;
}

.gallery-item {
    height: max-content;
    border-radius: 1rem;
    border: 0.15rem solid var(--lgrey);
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.note-btn {
    width: 100%;
    bottom: 0;
    align-self: center;
    display: contents;
    height: 2rem;
}


.url-container img,
.url-container video {
    align-self: flex-start;
    height: 7rem;
    display: block;
}

.note-preview h1 {
    font-size: 1rem;
    margin-bottom: 6px;
}

.note-btn button {
    background-color: inherit;
    border: none;
    size: 40px;
    cursor: pointer;
}

.btn-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
}

.text-container{
    display: block;
    padding: 0.2rem;
    justify-self: center;
    height: 12rem;
}

.url-container {
    width: 100%;
    height: 15rem;
    top: 0;
    align-self: center;
    display: contents;
    height: 2rem;
}