.note-msg {
    background-color: lightgray;
    padding: 1em 1em;
    /* padding-top: 35px; */
    position: fixed;

    bottom: 20px;
    left: 30px;
    color: white;
    font-weight: bold;
    font-size: 0.875rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.note-msg.success {
    background-color: #202124;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

.note-msg.error {
    background-color: var(--clr2);
}

.msg-btn {}

.note-msg button {
    cursor: pointer;
    color: #444746;
    border-radius: 50%;
    margin-left: 15px;
    float: right;
    background-color: inherit;
    border: none;
}